body{
    background: url(../img/body-bg.png)no-repeat;
    background-size: cover;
    position: relative;
}

.container{

    width: 960px;
    width: 96rem;
    margin: 50px auto;
    margin: 5rem auto;
}
